SUBNET_NETADDR="10.0.0"
SUBNET_HOSTADDR="0"
SUBNET_NETMASK="255.255.255.0"
ROUTERS="10.0.0.1"
SUBNET_MASK="255.255.255.0"
DOMAIN_NAME="digitalairlines.com"
NAME_SERVERS="10.0.0.1, 8.8.8.8, 8.8.4.4"
WINS_SERVERS="10.0.0.1"
NTP_SERVERS="10.0.0.1"
ADDR_RANGE="10.0.0.50 10.0.0.199"
LEASE_TIME="21600"
MAX_LEASE_TIME="43200"
TFTP_SERVER="10.0.0.1"
RESERVATION_START_ADDR="10"

